social-media-workflow.json
{
  "name": "My workflow 3",
  "nodes": [
    {
      "parameters": {},
      "id": "14339b9c-bdee-4d35-b971-6754166f93f8",
      "name": "TRIGGER - Content Calendar Check",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        -1392,
        -144
      ]
    },
    {
      "parameters": {
        "documentId": "={{ $env.GOOGLE_SHEETS_DOCUMENT_ID }}",
        "sheetName": "Content Calendar",
        "options": {}
      },
      "id": "60410419-39b1-4299-9b81-941068d4c355",
      "name": "READ - Google Sheets Calendar",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        -1168,
        -144
      ]
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "id": "status-check",
              "leftValue": "={{ $json.Status || '' }}",
              "rightValue": "Scheduled",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "59838138-8e5b-4d60-afdf-8221adaa8d97",
      "name": "FILTER - Scheduled Posts",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -944,
        -144
      ]
    },
    {
      "parameters": {
        "jsCode": "console.log('No scheduled posts found at this time');\nreturn [];"
      },
      "id": "c7cbaf32-0d70-47d9-a1bf-45ece1e27ff4",
      "name": "INFO - No Scheduled Posts",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -720,
        -48
      ]
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "id": "time-check",
              "leftValue": "={{ new Date($json['Date & Time'] || 0).getTime() }}",
              "rightValue": "={{ new Date().getTime() }}",
              "operator": {
                "type": "number",
                "operation": "lte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "dc08b256-5cd8-4bc4-9aba-8b5020dcf149",
      "name": "CHECK - Publishing Time",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -720,
        -240
      ]
    },
    {
      "parameters": {
        "jsCode": "console.log('Post time has not arrived yet');\nreturn [];"
      },
      "id": "a46adc0b-5f5b-4052-8d62-b1bcfd98d010",
      "name": "WAIT - Post Time Pending",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -496,
        -144
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v18.0/{{ $env.FACEBOOK_PAGE_ID }}/feed",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $env.FACEBOOK_ACCESS_TOKEN }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "message",
              "value": "={{ $json['Post Text'] || '' }}"
            },
            {
              "name": "link",
              "value": "={{ $json['Media URL'] || '' }}"
            },
            {
              "name": "published",
              "value": true
            }
          ]
        },
        "options": {}
      },
      "id": "76ee4aad-5f1a-4eb5-9d29-8399127ea33e",
      "name": "PUBLISH - Facebook Post",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -496,
        -336
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": "={{ $env.GOOGLE_SHEETS_DOCUMENT_ID }}",
        "sheetName": "Content Calendar",
        "options": {}
      },
      "id": "fc94a5fe-341a-48b4-9ef9-6b0952550c46",
      "name": "UPDATE - Mark as Posted",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        -272,
        -336
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": "={{ $env.GOOGLE_SHEETS_DOCUMENT_ID }}",
        "sheetName": "Content Calendar",
        "options": {}
      },
      "id": "12595b1a-6889-46ef-8f8b-97242402400a",
      "name": "STORE - Facebook Post ID",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        -48,
        -336
      ]
    },
    {
      "parameters": {
        "jsCode": "console.log('Content publishing workflow completed successfully');\nreturn $json;"
      },
      "id": "10e6c006-8f1b-4901-bde1-76ef475d0ba5",
      "name": "SUCCESS - Content Published",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        176,
        -336
      ]
    },
    {
      "parameters": {},
      "id": "9701419c-5926-4291-9fb1-2d7977f4a419",
      "name": "TRIGGER - Weekly Analytics",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        -1392,
        272
      ]
    },
    {
      "parameters": {
        "url": "https://graph.facebook.com/v18.0/{{ $env.FACEBOOK_PAGE_ID }}/insights",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "metric",
              "value": "page_impressions,page_engaged_users,page_fan_adds,page_fan_removes"
            },
            {
              "name": "period",
              "value": "week"
            },
            {
              "name": "since",
              "value": "={{ new Date(Date.now() - 7 * 24 * 60 * 60 * 1000).toISOString() }}"
            },
            {
              "name": "until",
              "value": "={{ new Date().toISOString() }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $env.FACEBOOK_ACCESS_TOKEN }}"
            }
          ]
        },
        "options": {}
      },
      "id": "89d8e0a0-946a-46a4-b172-8c01c11c03ef",
      "name": "ANALYTICS - Facebook Insights",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -1168,
        272
      ]
    },
    {
      "parameters": {
        "documentId": "={{ $env.GOOGLE_SHEETS_DOCUMENT_ID }}",
        "sheetName": "Content Calendar",
        "options": {}
      },
      "id": "fca1989f-d445-435e-bda0-6ccd80a76bef",
      "name": "READ - Weekly Post History",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        -944,
        272
      ]
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "id": "date-filter",
              "leftValue": "={{ new Date($json['Date & Time'] || 0).getTime() }}",
              "rightValue": "={{ new Date(Date.now() - 7 * 24 * 60 * 60 * 1000).getTime() }}",
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            },
            {
              "id": "status-filter",
              "leftValue": "={{ $json.Status || '' }}",
              "rightValue": "Posted",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "09d530f7-8b27-47dc-ada3-c7fd243bf331",
      "name": "FILTER - Last 7 Days Posts",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -720,
        272
      ]
    },
    {
      "parameters": {
        "jsCode": "console.log('No posts found for weekly report period');\nreturn [];"
      },
      "id": "9abb2734-1e5d-4188-a7cb-0db1d7e34f6a",
      "name": "INFO - No Weekly Posts",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -496,
        368
      ]
    },
    {
      "parameters": {
        "operation": "create",
        "documentId": "={{ $env.GOOGLE_SHEETS_DOCUMENT_ID }}",
        "options": {}
      },
      "id": "143d5dba-6ffa-45a9-8ed1-25b91a2a0b8c",
      "name": "REPORT - Generate Analytics",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        -496,
        176
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": "={{ $env.GOOGLE_SHEETS_DOCUMENT_ID }}",
        "sheetName": "Weekly Report",
        "options": {}
      },
      "id": "4414fc9e-a895-4e66-b739-4008b79ae9ca",
      "name": "APPEND - Post Details",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        -272,
        176
      ]
    },
    {
      "parameters": {
        "toEmail": "={{ $env.MANAGER_EMAIL }}",
        "subject": "Weekly Social Media Report - {{ new Date().toLocaleDateString() }}",
        "options": {}
      },
      "id": "d51ff333-58e7-44ad-aa5e-5801df558580",
      "name": "EMAIL - Send Report to Manager",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [
        -48,
        176
      ],
      "webhookId": "c29bae2a-b045-4af9-9856-e57b53a0f96f"
    },
    {
      "parameters": {
        "jsCode": "console.log('Weekly analytics workflow completed successfully');\nreturn $json;"
      },
      "id": "b881425d-053a-4c01-8615-c5521bf15a20",
      "name": "SUCCESS - Analytics Complete",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        176,
        176
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "TRIGGER - Content Calendar Check": {
      "main": [
        [
          {
            "node": "READ - Google Sheets Calendar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "READ - Google Sheets Calendar": {
      "main": [
        [
          {
            "node": "FILTER - Scheduled Posts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FILTER - Scheduled Posts": {
      "main": [
        [
          {
            "node": "CHECK - Publishing Time",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "INFO - No Scheduled Posts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CHECK - Publishing Time": {
      "main": [
        [
          {
            "node": "PUBLISH - Facebook Post",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "WAIT - Post Time Pending",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PUBLISH - Facebook Post": {
      "main": [
        [
          {
            "node": "UPDATE - Mark as Posted",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "UPDATE - Mark as Posted": {
      "main": [
        [
          {
            "node": "STORE - Facebook Post ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "STORE - Facebook Post ID": {
      "main": [
        [
          {
            "node": "SUCCESS - Content Published",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TRIGGER - Weekly Analytics": {
      "main": [
        [
          {
            "node": "ANALYTICS - Facebook Insights",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ANALYTICS - Facebook Insights": {
      "main": [
        [
          {
            "node": "READ - Weekly Post History",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "READ - Weekly Post History": {
      "main": [
        [
          {
            "node": "FILTER - Last 7 Days Posts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FILTER - Last 7 Days Posts": {
      "main": [
        [
          {
            "node": "REPORT - Generate Analytics",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "INFO - No Weekly Posts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "REPORT - Generate Analytics": {
      "main": [
        [
          {
            "node": "APPEND - Post Details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "APPEND - Post Details": {
      "main": [
        [
          {
            "node": "EMAIL - Send Report to Manager",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EMAIL - Send Report to Manager": {
      "main": [
        [
          {
            "node": "SUCCESS - Analytics Complete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "767b881b-9503-4bbd-b85b-9a6e06b89a62",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "5074ce53ea8e9b14aec02794b77fdf923c16754217f8207c9fe14d7038fb42b6"
  },
  "id": "Rui1DUOaiHKENEgA",
  "tags": [
    {
      "createdAt": "2025-08-24T13:30:30.938Z",
      "updatedAt": "2025-08-24T13:30:30.938Z",
      "id": "1wzXxUtYUhi05f6k",
      "name": "Social Media"
    },
    {
      "createdAt": "2025-08-24T14:36:43.687Z",
      "updatedAt": "2025-08-24T14:36:43.687Z",
      "id": "71DmM7lDRjEVjOKS",
      "name": "Automation"
    },
    {
      "createdAt": "2025-08-24T14:36:43.723Z",
      "updatedAt": "2025-08-24T14:36:43.723Z",
      "id": "Qdq5FVgwgSccQhOS",
      "name": "Facebook"
    },
    {
      "createdAt": "2025-08-24T14:36:43.370Z",
      "updatedAt": "2025-08-24T14:36:43.370Z",
      "id": "d0fdiQ6cgtkQS6lC",
      "name": "Analytics"
    }
  ]
}