social-media-workflow.json
{
  "name": "Social Media Content Calendar & Analytics - Fixed",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hour",
              "expression": "1"
            }
          ]
        }
      },
      "id": "14339b9c-bdee-4d35-b971-6754166f93f8",
      "name": "TRIGGER - Content Calendar Check",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [-1392, -144]
    },
    {
      "parameters": {
        "resource": "sheet",
        "operation": "read",
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEETS_DOCUMENT_ID",
          "mode": "list",
          "cachedResultName": "Content Calendar"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Content Calendar"
        },
        "options": {
          "range": "A:H"
        }
      },
      "id": "60410419-39b1-4299-9b81-941068d4c355",
      "name": "READ - Google Sheets Calendar",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [-1168, -144],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "google-sheets-credentials",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false
          },
          "conditions": [
            {
              "id": "status-check",
              "leftValue": "={{ $json.Status || '' }}",
              "rightValue": "Scheduled",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "59838138-8e5b-4d60-afdf-8221adaa8d97",
      "name": "FILTER - Scheduled Posts",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [-944, -144]
    },
    {
      "parameters": {
        "jsCode": "// Log that no scheduled posts were found\nconsole.log('No scheduled posts found at this time');\n\n// Return empty array to stop execution\nreturn [];"
      },
      "id": "c7cbaf32-0d70-47d9-a1bf-45ece1e27ff4",
      "name": "INFO - No Scheduled Posts",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-720, -48]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false
          },
          "conditions": [
            {
              "id": "time-check",
              "leftValue": "={{ new Date($json['Date & Time'] || 0).getTime() }}",
              "rightValue": "={{ new Date().getTime() }}",
              "operator": {
                "type": "number",
                "operation": "lte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "dc08b256-5cd8-4bc4-9aba-8b5020dcf149",
      "name": "CHECK - Publishing Time",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [-720, -240]
    },
    {
      "parameters": {
        "jsCode": "// Log that post time hasn't arrived\nconsole.log('Post time has not arrived yet:', $json['Date & Time']);\n\n// Return empty array to stop execution\nreturn [];"
      },
      "id": "a46adc0b-5f5b-4052-8d62-b1bcfd98d010",
      "name": "WAIT - Post Time Pending",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-496, -144]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v18.0/YOUR_FACEBOOK_PAGE_ID/feed",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "facebookGraphApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "message",
              "value": "={{ $json['Post Text'] || '' }}"
            },
            {
              "name": "link",
              "value": "={{ $json['Media URL'] || '' }}"
            },
            {
              "name": "published",
              "value": "true"
            }
          ]
        },
        "options": {}
      },
      "id": "76ee4aad-5f1a-4eb5-9d29-8399127ea33e",
      "name": "PUBLISH - Facebook Post",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [-496, -336],
      "credentials": {
        "facebookGraphApi": {
          "id": "facebook-graph-credentials",
          "name": "Facebook Graph API"
        }
      }
    },
    {
      "parameters": {
        "resource": "sheet",
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEETS_DOCUMENT_ID",
          "mode": "list",
          "cachedResultName": "Content Calendar"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Content Calendar"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Status": "Posted",
            "Posted Date": "={{ new Date().toISOString() }}"
          }
        },
        "options": {
          "whereClause": "={{ 'Post Text=\"' + $json['Post Text'] + '\"' }}"
        }
      },
      "id": "fc94a5fe-341a-48b4-9ef9-6b0952550c46",
      "name": "UPDATE - Mark as Posted",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [-272, -336],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "google-sheets-credentials",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "resource": "sheet",
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEETS_DOCUMENT_ID",
          "mode": "list",
          "cachedResultName": "Content Calendar"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Content Calendar"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Facebook Post ID": "={{ $('PUBLISH - Facebook Post').item.json.id }}",
            "Post URL": "={{ 'https://facebook.com/' + $('PUBLISH - Facebook Post').item.json.id }}"
          }
        },
        "options": {
          "whereClause": "={{ 'Post Text=\"' + $('CHECK - Publishing Time').item.json['Post Text'] + '\"' }}"
        }
      },
      "id": "12595b1a-6889-46ef-8f8b-97242402400a",
      "name": "STORE - Facebook Post ID",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [-48, -336],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "google-sheets-credentials",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Log successful completion\nconsole.log('Content publishing workflow completed successfully');\nconsole.log('Posted:', $json);\n\nreturn {\n  status: 'success',\n  message: 'Content published and tracked',\n  postId: $('PUBLISH - Facebook Post').item.json.id,\n  timestamp: new Date().toISOString()\n};"
      },
      "id": "10e6c006-8f1b-4901-bde1-76ef475d0ba5",
      "name": "SUCCESS - Content Published",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [176, -336]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weekDay",
              "expression": "1"
            },
            {
              "field": "hour",
              "expression": "9"
            }
          ]
        }
      },
      "id": "9701419c-5926-4291-9fb1-2d7977f4a419",
      "name": "TRIGGER - Weekly Analytics",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [-1392, 272]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://graph.facebook.com/v18.0/YOUR_FACEBOOK_PAGE_ID/insights",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "facebookGraphApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "metric",
              "value": "page_impressions,page_engaged_users,page_fan_adds,page_fan_removes"
            },
            {
              "name": "period",
              "value": "week"
            },
            {
              "name": "since",
              "value": "={{ new Date(Date.now() - 7 * 24 * 60 * 60 * 1000).toISOString().split('T')[0] }}"
            },
            {
              "name": "until",
              "value": "={{ new Date().toISOString().split('T')[0] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "89d8e0a0-946a-46a4-b172-8c01c11c03ef",
      "name": "ANALYTICS - Facebook Insights",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [-1168, 272],
      "credentials": {
        "facebookGraphApi": {
          "id": "facebook-graph-credentials",
          "name": "Facebook Graph API"
        }
      }
    },
    {
      "parameters": {
        "resource": "sheet",
        "operation": "read",
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEETS_DOCUMENT_ID",
          "mode": "list",
          "cachedResultName": "Content Calendar"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Content Calendar"
        },
        "options": {
          "range": "A:H"
        }
      },
      "id": "fca1989f-d445-435e-bda0-6ccd80a76bef",
      "name": "READ - Weekly Post History",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [-944, 272],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "google-sheets-credentials",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false
          },
          "conditions": [
            {
              "id": "date-filter",
              "leftValue": "={{ new Date($json['Date & Time'] || 0).getTime() }}",
              "rightValue": "={{ new Date(Date.now() - 7 * 24 * 60 * 60 * 1000).getTime() }}",
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            },
            {
              "id": "status-filter",
              "leftValue": "={{ $json.Status || '' }}",
              "rightValue": "Posted",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "09d530f7-8b27-47dc-ada3-c7fd243bf331",
      "name": "FILTER - Last 7 Days Posts",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [-720, 272]
    },
    {
      "parameters": {
        "jsCode": "// Log that no posts were found for the weekly report\nconsole.log('No posts found for weekly report period');\n\n// Return empty array to stop execution\nreturn [];"
      },
      "id": "9abb2734-1e5d-4188-a7cb-0db1d7e34f6a",
      "name": "INFO - No Weekly Posts",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-496, 368]
    },
    {
      "parameters": {
        "jsCode": "// Combine Facebook Analytics with Post Data\nconst analytics = $('ANALYTICS - Facebook Insights').item.json.data;\nconst posts = $input.all();\n\n// Calculate summary metrics\nconst summary = {\n  totalPosts: posts.length,\n  weekStartDate: new Date(Date.now() - 7 * 24 * 60 * 60 * 1000).toLocaleDateString(),\n  weekEndDate: new Date().toLocaleDateString(),\n  impressions: 0,\n  engagedUsers: 0,\n  newFollowers: 0,\n  unfollowers: 0\n};\n\n// Process analytics data\nif (analytics && Array.isArray(analytics)) {\n  analytics.forEach(metric => {\n    if (metric.name === 'page_impressions' && metric.values?.[0]?.value) {\n      summary.impressions = metric.values[0].value;\n    }\n    if (metric.name === 'page_engaged_users' && metric.values?.[0]?.value) {\n      summary.engagedUsers = metric.values[0].value;\n    }\n    if (metric.name === 'page_fan_adds' && metric.values?.[0]?.value) {\n      summary.newFollowers = metric.values[0].value;\n    }\n    if (metric.name === 'page_fan_removes' && metric.values?.[0]?.value) {\n      summary.unfollowers = metric.values[0].value;\n    }\n  });\n}\n\n// Return combined data\nreturn {\n  summary,\n  posts: posts.map(post => ({\n    postText: post.json['Post Text'] || 'N/A',\n    dateTime: post.json['Date & Time'] || 'N/A',\n    status: post.json['Status'] || 'N/A',\n    postId: post.json['Facebook Post ID'] || 'N/A'\n  })),\n  generatedAt: new Date().toISOString()\n};"
      },
      "id": "143d5dba-6ffa-45a9-8ed1-25b91a2a0b8c",
      "name": "REPORT - Generate Analytics",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-496, 176]
    },
    {
      "parameters": {
        "resource": "sheet",
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEETS_DOCUMENT_ID",
          "mode": "list",
          "cachedResultName": "Content Calendar"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=1",
          "mode": "list",
          "cachedResultName": "Weekly Report"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Week Start": "={{ $json.summary.weekStartDate }}",
            "Week End": "={{ $json.summary.weekEndDate }}",
            "Total Posts": "={{ $json.summary.totalPosts }}",
            "Impressions": "={{ $json.summary.impressions }}",
            "Engaged Users": "={{ $json.summary.engagedUsers }}",
            "New Followers": "={{ $json.summary.newFollowers }}",
            "Unfollowers": "={{ $json.summary.unfollowers }}",
            "Generated At": "={{ $json.generatedAt }}"
          }
        },
        "options": {}
      },
      "id": "4414fc9e-a895-4e66-b739-4008b79ae9ca",
      "name": "APPEND - Weekly Summary",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [-272, 176],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "google-sheets-credentials",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "noreply@yourcompany.com",
        "toEmail": "manager@yourcompany.com",
        "subject": "Weekly Social Media Report - {{ $json.summary.weekStartDate }} to {{ $json.summary.weekEndDate }}",
        "message": "Weekly Social Media Performance Report\\n\\n📊 SUMMARY:\\n• Total Posts: {{ $json.summary.totalPosts }}\\n• Page Impressions: {{ $json.summary.impressions }}\\n• Engaged Users: {{ $json.summary.engagedUsers }}\\n• New Followers: {{ $json.summary.newFollowers }}\\n• Unfollowers: {{ $json.summary.unfollowers }}\\n\\n📝 POSTS THIS WEEK:\\n{% for post in $json.posts %}\\n• {{ post.postText }} ({{ post.dateTime }})\\n{% endfor %}\\n\\nReport generated: {{ $json.generatedAt }}",
        "options": {
          "allowUnauthorizedCerts": false
        }
      },
      "id": "d51ff333-58e7-44ad-aa5e-5801df558580",
      "name": "EMAIL - Send Report to Manager",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [-48, 176],
      "credentials": {
        "smtp": {
          "id": "smtp-credentials",
          "name": "SMTP Email"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Log successful completion of analytics workflow\nconsole.log('Weekly analytics workflow completed successfully');\nconsole.log('Report summary:', $json.summary);\n\nreturn {\n  status: 'success',\n  message: 'Weekly analytics report generated and sent',\n  reportData: $json.summary,\n  completedAt: new Date().toISOString()\n};"
      },
      "id": "b881425d-053a-4c01-8615-c5521bf15a20",
      "name": "SUCCESS - Analytics Complete",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [176, 176]
    }
  ],
  "connections": {
    "TRIGGER - Content Calendar Check": {
      "main": [
        [
          {
            "node": "READ - Google Sheets Calendar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "READ - Google Sheets Calendar": {
      "main": [
        [
          {
            "node": "FILTER - Scheduled Posts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FILTER - Scheduled Posts": {
      "main": [
        [
          {
            "node": "CHECK - Publishing Time",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "INFO - No Scheduled Posts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CHECK - Publishing Time": {
      "main": [
        [
          {
            "node": "PUBLISH - Facebook Post",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "WAIT - Post Time Pending",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PUBLISH - Facebook Post": {
      "main": [
        [
          {
            "node": "UPDATE - Mark as Posted",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "UPDATE - Mark as Posted": {
      "main": [
        [
          {
            "node": "STORE - Facebook Post ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "STORE - Facebook Post ID": {
      "main": [
        [
          {
            "node": "SUCCESS - Content Published",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TRIGGER - Weekly Analytics": {
      "main": [
        [
          {
            "node": "ANALYTICS - Facebook Insights",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ANALYTICS - Facebook Insights": {
      "main": [
        [
          {
            "node": "READ - Weekly Post History",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "READ - Weekly Post History": {
      "main": [
        [
          {
            "node": "FILTER - Last 7 Days Posts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FILTER - Last 7 Days Posts": {
      "main": [
        [
          {
            "node": "REPORT - Generate Analytics",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "INFO - No Weekly Posts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "REPORT - Generate Analytics": {
      "main": [
        [
          {
            "node": "APPEND - Weekly Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "APPEND - Weekly Summary": {
      "main": [
        [
          {
            "node": "EMAIL - Send Report to Manager",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EMAIL - Send Report to Manager": {
      "main": [
        [
          {
            "node": "SUCCESS - Analytics Complete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {},
  "tags": [
    {
      "createdAt": "2025-08-24T13:30:30.938Z",
      "updatedAt": "2025-08-24T13:30:30.938Z",
      "id": "1wzXxUtYUhi05f6k",
      "name": "Social Media"
    },
    {
      "createdAt": "2025-08-24T14:36:43.687Z",
      "updatedAt": "2025-08-24T14:36:43.687Z",
      "id": "71DmM7lDRjEVjOKS",
      "name": "Automation"
    },
    {
      "createdAt": "2025-08-24T14:36:43.723Z",
      "updatedAt": "2025-08-24T14:36:43.723Z",
      "id": "Qdq5FVgwgSccQhOS",
      "name": "Facebook"
    },
    {
      "createdAt": "2025-08-24T14:36:43.370Z",
      "updatedAt": "2025-08-24T14:36:43.370Z",
      "id": "d0fdiQ6cgtkQS6lC",
      "name": "Analytics"
    }
  ],
  "triggerCount": 2,
  "updatedAt": "2025-08-25T00:00:00.000Z",
  "versionId": "2.0.0"
}