workflow-2.json
{
  "name": "Social Post Monitor & Alert - Fixed",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hour",
              "expression": "1"
            }
          ]
        }
      },
      "id": "a02be910-3d42-492c-949c-80a7c233a55a",
      "name": "Trigger - Every 1 Hour",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [-592, 128]
    },
    {
      "parameters": {
        "operation": "search",
        "searchText": "YourBrandName",
        "returnAll": false,
        "limit": 5,
        "additionalFields": {}
      },
      "id": "3fe02d01-2957-4d04-b6e7-4cdc8c7b1105",
      "name": "Fetch Twitter Mentions",
      "type": "n8n-nodes-base.twitter",
      "typeVersion": 2,
      "position": [-352, 128],
      "credentials": {
        "twitterOAuth2Api": {
          "id": "twitter-oauth2-credentials",
          "name": "Twitter OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "edfb19b9-7f97-4ec3-b8d3-ea96092dce65",
      "name": "Split Tweets",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [-96, 128]
    },
    {
      "parameters": {
        "resource": "text",
        "operation": "message",
        "model": "gpt-3.5-turbo",
        "messages": {
          "messageValues": [
            {
              "role": "user",
              "content": "Analyze the sentiment of this text and return only 'positive', 'negative', or 'neutral' as a single word response: {{ $json.text }}"
            }
          ]
        },
        "requestOptions": {}
      },
      "id": "9e77d26b-4f41-4c33-8ced-a0a83aa3421a",
      "name": "Sentiment Analysis",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [160, 128],
      "credentials": {
        "openAiApi": {
          "id": "openai-credentials",
          "name": "OpenAI API"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false
          },
          "conditions": [
            {
              "id": "sentiment-check",
              "leftValue": "={{ $json.choices[0].message.content.trim().toLowerCase() }}",
              "rightValue": "negative",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "e8941d21-c6a4-4337-832e-7392155ca76e",
      "name": "IF Negative Sentiment?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [416, 128]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "post",
        "channel": "#alerts",
        "text": "⚠️ Negative Tweet Found!\n\n**Tweet:** {{ $('Split Tweets').item.json.text }}\n**Sentiment:** {{ $('Sentiment Analysis').item.json.choices[0].message.content }}\n**Author:** @{{ $('Split Tweets').item.json.user.screen_name }}\n**Time:** {{ $('Split Tweets').item.json.created_at }}",
        "otherOptions": {}
      },
      "id": "900042e3-7b81-4c6e-a30e-96a84624e184",
      "name": "Send Slack Alert",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2,
      "position": [656, 32],
      "credentials": {
        "slackApi": {
          "id": "slack-credentials",
          "name": "Slack API"
        }
      }
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "create",
        "databaseId": "YOUR_NOTION_DATABASE_ID",
        "title": "Negative Tweet Alert - {{ new Date().toISOString().split('T')[0] }}",
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Tweet Text",
              "textValue": "={{ $('Split Tweets').item.json.text }}"
            },
            {
              "key": "Sentiment",
              "selectValue": "Negative"
            },
            {
              "key": "Date",
              "dateValue": "={{ $('Split Tweets').item.json.created_at }}"
            },
            {
              "key": "Status",
              "selectValue": "New"
            },
            {
              "key": "Author",
              "textValue": "={{ $('Split Tweets').item.json.user.screen_name }}"
            }
          ]
        },
        "options": {}
      },
      "id": "75537433-0e36-4d9e-abc1-0e654eea3793",
      "name": "Log to Notion",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2,
      "position": [656, 224],
      "credentials": {
        "notionApi": {
          "id": "notion-credentials",
          "name": "Notion API"
        }
      }
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "id": "fc765ec3-2bb2-4405-95fa-392753bd947a",
      "name": "Aggregate Results",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [912, 128]
    }
  ],
  "connections": {
    "Trigger - Every 1 Hour": {
      "main": [
        [
          {
            "node": "Fetch Twitter Mentions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Twitter Mentions": {
      "main": [
        [
          {
            "node": "Split Tweets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Tweets": {
      "main": [
        [
          {
            "node": "Sentiment Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sentiment Analysis": {
      "main": [
        [
          {
            "node": "IF Negative Sentiment?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Negative Sentiment?": {
      "main": [
        [
          {
            "node": "Send Slack Alert",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Aggregate Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Slack Alert": {
      "main": [
        [
          {
            "node": "Log to Notion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log to Notion": {
      "main": [
        [
          {
            "node": "Aggregate Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {},
  "staticData": {},
  "tags": [
    {
      "createdAt": "2025-08-25T04:01:57.020Z",
      "updatedAt": "2025-08-25T04:01:57.020Z",
      "id": "RGh3ImZY5nUbRHKp",
      "name": "Social Monitoring"
    },
    {
      "createdAt": "2025-08-25T04:01:56.684Z",
      "updatedAt": "2025-08-25T04:01:56.684Z",
      "id": "oG3xzMyT7Rro1D4g",
      "name": "Alerts"
    },
    {
      "createdAt": "2025-08-24T14:36:43.687Z",
      "updatedAt": "2025-08-24T14:36:43.687Z",
      "id": "71DmM7lDRjEVjOKS",
      "name": "Automation"
    }
  ]
}